html {
  background: url(/bkgrnd.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  z-index: 100;
}

img {
  display: block;
    min-width:340px;
    width: 100%;
    height: auto;
    -moz-box-shadow:    5px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow:         5px 5px 5px rgba(0, 0, 0, 0.3);
}

footer {
  position:fixed;
  bottom:0;
  left:0;
}

h1, p, a {
    -moz-text-shadow:    5px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-shadow:         5px 5px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: 'Corben', cursive;
  color: #BF2828;
  font-weight: bold;
  text-align: center;
  margin: auto 0;
  margin-top: 0;
}

.indexH1 {
  font-size: 3.7em;
}

.newH1 {
  font-size: 4.5em;
}

p, a {
  font-family: 'Lemon', cursive;
}

a {
  text-decoration: none;
  margin-left: 5%;
}

.new_picture {
  margin-left: 8%;
}