@media screen and (min-width: 480px) {
body {
  font-size: 11px;
}
.picCell {
  display: inline-table;
  width: 95%;
  vertical-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
}

@media screen and (min-width: 560px) {
body {
  font-size: 14px;
}  }

  @media screen and (min-width: 640px) {
body {
  font-size: 16px;
}  }

  @media screen and (min-width: 720px) {
body {
  font-size: 18px;
}  }

  @media screen and (min-width: 800px) {
body {
  font-size: 20px;

}
.picCell {
  display: inline-table;
  width: 45%;
  vertical-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
}

  @media screen and (min-width: 880px) {
body {
  font-size: 22px;
}  }

  @media screen and (min-width: 960px) {
body {
  font-size: 24px;
}  }

  @media screen and (min-width: 1040px) {
body {
  font-size: 26px;
}  }

  @media screen and (min-width: 1120px) {
body {
  font-size: 28px;
}
}

  @media screen and (min-width: 1200px) {
body {
  font-size: 30px;
}  }

  @media screen and (min-width: 1220px) {

.picCell {
  display: inline-table;
  width: 28%;
  vertical-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
}
}

  @media screen and (min-width: 1280px) {
body {
  font-size: 32px;
}  }

  @media screen and (min-width: 1360px) {
body {
  font-size: 34px;
}  }

   @media screen and (min-width: 1400px) {
body {
  font-size: 36px;
}  }